html {
    scroll-behavior: smooth;
}

:root {
    --wht: #f8f8f8;
    --blk: #28282b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
::after {
    box-sizing: border-box;
}

body {
    /* min-width: 320px; */
    font-size: 1rem;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: var(--blk);
    background-color: var(--wht);
}

/*genaral styling element */

/*images*/
img {
    width: 100%;
    display: block;
}

/*buttons/links*/

a,
button {
    font-family: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    color: var(--wht);
}

a:hover {
    color: hotpink;
}

/*typography*/

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

h1 {
    color: var(--wht);
}
/*layout*/
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: var(--blk);
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction:row ;
    align-items:center ;
}

header li {
 margin: 0 1rem;
}
/*mediaqueries*/

@media (min-width: 620px) {
    header {
        padding: 2rem 0;
    }

    .header-container {
        /* display: flex; */
        flex-direction:row ;
        justify-content: space-between;
        align-items:baseline ;
    }
    h1 {
       margin-bottom: unset;
}
}

/* @media (possition: lanscape) check more about orientatio as this is wrong query */
/* @media (max-width: 800px) {
    a {
        color: orange;
    }
} */

/*check unset option with flex*/